<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="org.travelmaker.mapper.AdminBoardMapper">

	<resultMap type="org.travelmaker.domain.BoardVO"
		id="BoardVO">
		<result property="boardNo" column="BOARD_NO" />
		<result property="schNo" column="SCH_NO" />
		<result property="boardTitle" column="BOARD_TITLE" />
		<result property="wDate" column="W_DATE" />
		<result property="pickCnt" column="PICK_CNT" />
		<result property="modDate" column="MOD_DATE" />
		<result property="vCnt" column="V_CNT" />
		<result property="hidden" column="HIDDEN" />
	</resultMap>
	
		<resultMap type="org.travelmaker.domain.BoarddtVO"
		id="Boarddt">
		<result property="boardNo" column="BOARD_NO" />
		<result property="boardCon" column="BOARD_CON" />
		<result property="num" column="NUM" />
		<result property="boarddtImg" column="BOOARDDT_IMG" />
		<result property="dtThumbImg" column="DT_THUMB_IMG" />
	</resultMap>

	<select id="getBoardList" resultMap="BoardVO">
 <![CDATA[
	SELECT /*+ INDEX_DESC(TBL_BOARD PK_BOARD) */ * 
	FROM BOARD 
	ORDER BY BOARD_NO DESC]]>
	</select>

	<delete id="removePost" parameterType="int[]">
		DELETE BOARD
		WHERE BOARD_NO IN 
		<foreach collection="list" item="post" open="(" close=")" separator=",">
			#{post}
		</foreach>
	</delete>

	<select id="searchPost" resultMap="BoardVO">
		SELECT /*+ INDEX_DESC(MEMBER PK_BOARD) */ *
		FROM BOARD B, SCHEDULE S, MEMBER M
		WHERE
		<choose>
			<when test='type == "NO"'>
				(M.MEM_NO = #{keyword})
			</when>
			<when test='type == "N"'>
				(NICKNAME LIKE '%'||#{keyword}||'%')
			</when>
			<when test='type == "T"'>
				(BOARD_TITLE LIKE '%'||#{keyword}||'%')
			</when>
		</choose>
		AND B.SCH_NO = S.SCH_NO AND S.MEM_NO=M.MEM_NO
		ORDER BY BOARD_NO DESC
	</select>
	
	<select id="getPostDetail" resultMap="Boarddt">
		SELECT * FROM BOARD_DT WHERE BOARD_NO = #{boardNo}
	</select>

</mapper>
	