<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="org.travelmaker.mapper.BoarddtMapper">

<resultMap type="org.travelmaker.domain.BoarddtVO" id="boarddtResult">
	<result property="boardNo" column="board_no"/>
	<result property="boardCon" column="board_con"/>

</resultMap>


<select id="read" resultMap="boarddtResult">
<![CDATA[
	select *
	from board_dt 
	where board_no=#{boardNo}
]]>
</select>

<select id="getList" resultMap="boarddtResult">
<![CDATA[
	select board_no, board_con
	from board_dt
	where board_no=#{boardNo}
]]>
</select>

<insert id="register">
	insert into board_dt (board_no, board_con)
	values(#{boardNo}, #{boardCon})
</insert>

<update id="update" parameterType="org.travelmaker.domain.BoarddtVO">
	update board_dt
	set board_con = #{boardCon}
	where board_no=#{boardNo}
	
</update>

<!-- 사진 첨부  -->
<insert id="insertFile" parameterType="hashMap">
	INSERT INTO MP_FILE(
		FILE_NO,
		BOARD_NO,
		ORG_FILE_NAME,
		STORED_FILE_NAME,
		FILE_SIZE,
		FILE_CONTENT
	)VALUES
		(
		SEQ_MP_FILE_NO.NEXTVAL,
		#{BOARD_NO},
		#{ORG_FILE_NAME},
		#{STORED_FILE_NAME},
		#{FILE_SIZE},
		#{FILE_CONTENT})
		
</insert>


<!-- 사진은 수정하지 않고 내용만 수정 할 떄 -->
<update id="updateContent" >
	update mp_file
	set FILE_CONTENT = #{fileContent}
	where FILE_NO=#{fileNo}

</update>

<!-- 첨부파일 조회 -->
<select id="selectFileList" parameterType="int" resultType="hashMap">
	SELECT FILE_NO,
		   ORG_FILE_NAME,
		   STORED_FILE_NAME,
		   ROUND(FILE_SIZE/1024,1) AS FILE_SIZE,
		   FILE_CONTENT 
		   FROM MP_FILE
		   WHERE DEL_GB='N'
		   AND BOARD_NO=#{boardNo}
		   ORDER BY FILE_NO ASC
</select>

<!-- 첨부파일 다운  -->
<select id="selectFileInfo" parameterType="hashMap" resultType="hashMap">
	SELECT
		STORED_FILE_NAME,
		ORG_FILE_NAME 
		FROM MP_FILE
		WHERE FILE_NO = #{FILE_NO}
</select>
		
<!-- 첨부파일 수정 -->
<update id="updateFile" parameterType="hashMap">
	UPDATE MP_FILE SET
	DEL_GB='Y' 
	WHERE FILE_NO = #{FILE_NO}
</update>


<delete id="delete">
	delete from board_dt where board_no = #{boardNo}
</delete>

</mapper>