<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="org.travelmaker.mapper.BoardMapper">

<resultMap type="org.travelmaker.domain.BoardVO" id="BoardResult">
	<result property="boardNo" column="board_no"/>
	<result property="schNo" column="sch_no"/>
	<result property="boardTitle" column="board_title"/>
	<result property="wDate" column="w_date"/>
	<result property="pickCnt" column="pick_cnt"/>
	<result property="modDate" column="mod_date"/>
	<result property="vCnt" column="v_cnt"/>
	<result property="hidden" column="hidden"/>
	<result property="boardImg" column="board_img"/>
	<result property="thumbImg" column="thumbimg"/>
</resultMap>



<select id="getList" resultMap="BoardResult">
<![CDATA[
select * from board where board_no>0
]]>
</select>

<insert id="insert">
	insert into board (board_no, sch_no, board_title,  pick_cnt, v_cnt, hidden)
	values (seq_board.nextval,#{schNo}, #{boardTitle},#{pickCnt}, #{vCnt},#{hidden})
</insert>

<insert id="insertSelectKey">
<!--  	<selectKey keyProperty="board_no" order="BEFORE" resultType="long">
		select seq_board.nextval from dual
	</selectKey> -->
	insert into board (board_no,sch_no, board_title, hidden, board_img, thumbImg)
	values (seq_board.nextval,#{schNo}, #{boardTitle},#{hidden},#{boardImg},#{thumbImg})
</insert>


<select id="read" resultMap="BoardResult">
	select * from board where board_no=#{boardNo}
</select>

<select id="readbytitle" resultMap="BoardResult">
	select * from board where board_title=#{boardTitle}
</select>

<select id="getListWithPaging" resultMap="BoardResult">
	<![CDATA[
		select board_no, sch_no, board_title, w_date, mod_date, pick_cnt, v_cnt, hidden, board_img, thumbImg
		from(
			select /*+INDEX_DESC(board board_pk)*/
				rownum rn, board_no, sch_no, board_title, w_date, mod_date, pick_cnt, v_cnt, hidden, board_img, thumbImg
			from board
			where rownum<=#{pageNum} * #{amount}
			)
			where rn> (#{pageNum}-1) * #{amount} and hidden='y'
	]]>

</select>


<delete id="delete">
	delete from board where board_no = #{boardNo}
</delete>

<update id="update">
	update board
	set  board_title= #{boardTitle}, mod_date= sysdate, hidden= #{hidden}, board_img= #{boardImg} where board_no = #{boardNo}
</update>


<select id="getTotalCount" resultType="int">
	select count(*) from board where hidden='y'
</select>

<update id="upCnt">

UPDATE place SET pickCnt = pickCnt +1 boardNo  = #{boardNo}
</update>

<update id="downCnt">

UPDATE place SET pickCnt = pickCnt -1 where boardNo = #{boardNo}
</update>

</mapper>