<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.travelmaker.mapper.BuddtMapper">

<resultMap type="org.travelmaker.domain.BuddtVO" id="UserResult">
	<result property="paydate" column="pay_date"/>
	<result property="schno" column="sch_no"/>
	<result property="store" column="store"/>
	<result property="expense" column="expense"/>
	<result property="budcate" column="bud_cate"/>
	<result property="no" column="no"/>       
	<result property="totalpay" column="total_pay"/>
	<result property="daypay" column="day_pay"/>
	<result property="daycnt" column="day_cnt"/>
	<result property="schtitle" column="sch_title"/>
	<result property="paydate2" column="d.pay_date"/>
</resultMap>
<!--  -->
<select id = "getBuddt" resultMap="UserResult">
SELECT pay_date, no, store, sch_no, trim(TO_CHAR(expense, '999,999,999')) as expense, bud_cate
FROM bud_dt 
where no = #{no}
</select>

<select id="getDateBySch" resultMap="UserResult">
SELECT distinct pay_date
FROM bud_dt
WHERE sch_no = #{schno}
</select>

<select id="getTitleBySchno" resultMap="UserResult">
SELECT sch_title
FROM budget b, schedule s
where s.sch_no = #{schno} and b.sch_no= #{schno}
ORDER BY sch_title
</select>

<!-- get.jsp - 일별 지출 내역 -->
<select id="getBudgetListByDate" resultMap="UserResult">
<!-- select * from bud_dt where pay_date=#{paydate} order by no asc -->
SELECT pay_date, no, store, sch_no, trim(TO_CHAR(expense, '999,999,999')) as expense, bud_cate
FROM bud_dt 
WHERE pay_date = #{paydate} AND sch_no = #{schno}
ORDER BY no asc
</select>

<!-- 차트 안 Text -->
<select id="getChartText" resultMap="UserResult">
SELECT sch_no, pay_date, trim(TO_CHAR(sum(expense), '999,999,999')) as day_pay , count(rownum) as day_cnt 
FROM bud_dt 
WHERE sch_no = #{schno} AND pay_date = #{paydate}
GROUP BY sch_no, pay_date
</select>

<!-- sch_no 웨어절에 추가.. -->
<!-- WHERE pay_date = #{paydate} AND sch_no = #{sch_no} -->
<!-- listAll.jsp - 모든 지출 내역 -->
<select id="getBudgetListByAllDates" resultMap="UserResult">
SELECT pay_date, no, store, sch_no, trim(TO_CHAR(expense, '999,999,999')) as expense, bud_cate
FROM bud_dt 
WHERE sch_no = #{schno}
ORDER BY pay_date, no
</select>

<!-- register.jsp - 지출 내역 등록 -->
<insert id="insert">
INSERT into bud_dt ( pay_date, sch_no, store, expense, bud_cate, no)
VALUES ( #{paydate}, #{schno}, #{store}, #{expense}, #{budcate}, seq_no.nextval)
</insert>

<!--1 <update id="daypayUpdate">
update day_bud 
set day_pay = day_pay + #{expense}, day_cnt = day_cnt + 1
where pay_date = #{paydate} AND sch_no = #{schno}
</update> -->
<update id="daypayUpdate">
update budget 
set total_pay = total_pay + #{expense}, total_cnt = total_cnt + 1
where sch_no = #{schno}
</update>

<!--1 <update id="removeExpense">
update day_bud
set day_pay = day_pay - #{expense}
where pay_date = #{paydate} AND sch_no = #{schno}
</update> -->
<update id="removeExpense">
<!-- update budget
set total_pay = total_pay - #{expense}, total_cnt = total_cnt - 1
where sch_no = #{schno} -->
UPDATE BUDGET 
SET TOTAL_PAY  = (select sum(expense) from bud_dt where sch_no =#{schno}), TOTAL_CNT=(select count(*) from bud_dt where sch_no =#{schno})
WHERE SCH_NO=#{schno}
</update>

<!-- register.jsp - 셀렉트 박스 : 일정 선택 -->
<select id="setBoxBySch" resultMap="UserResult">
SELECT distinct sch_no from bud_dt
</select>

<!-- register.jsp - 날짜 선택 제한 -->
<select id="setBoxByDate" resultMap="UserResult">
SELECT schedule.to_date as maxDate, schedule.from_date as minDate
FROM schedule
WHERE sch_no = #{schno}
</select>

<!-- <update id="update">
update day_bud
set day_pay = day_pay - #{expense}
where pay_date = #{paydate} AND sch_no = #{schno}
</update> -->

<!--1 <update id="modifyExpense">
update day_bud
set day_pay = day_pay - #{modifiedExpense}
where pay_date = #{paydate} AND sch_no = #{schno}
</update> -->
<update id="modifyExpense">
<!-- update budget
set total_pay = total_pay - #{modifiedExpense}
where sch_no = #{schno} -->
update budget
set total_pay = (select sum(expense) from bud_dt where sch_no = (select sch_no from bud_dt where no = #{no}))
where sch_no = (select sch_no from bud_dt where no = #{no})
</update>

<!-- modify.jsp - 수정 -->
<update id="update">
UPDATE bud_dt
SET sch_no = #{schno}, pay_date = #{paydate}, store = #{store}, 
expense = #{expense}, bud_cate = #{budcate}
WHERE no = #{no}
</update>

<!-- modify.jsp - 페이징 + readonly VO -->
<select id="loadVO" resultMap="UserResult">
<!-- select * from bud_dt where pay_date=#{paydate} order by no asc -->
<!-- SELECT * 
FROM bud_dt
WHERE no= #{no} and pay_date =#{paydate} and sch_no= #{schno}  -->
SELECT d.pay_date, d.sch_no, store, expense, bud_cate, no, sch_title
FROM bud_dt d, schedule s
WHERE no= #{no} and pay_date =#{paydate} and d.sch_no= #{schno} and s.sch_no = #{schno}
ORDER BY sch_no
</select>

<!-- modify.jsp - 삭제 -->
<delete id="delete" >
DELETE from bud_dt where no = #{no}
</delete>

<!-- 그래프 -->
<select id="cateCnt" resultMap="UserResult">
SELECT bud_cate, count(*) as cate_cnt 
FROM bud_dt 
GROUP BY bud_cate
</select>

<!-- list 카테고리 -->
<select id="getExpenseByCafeWDate" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND pay_date = #{paydate} AND bud_cate = '카페'
GROUP BY bud_cate
</select>

<select id="getExpenseByRestaurantWDate" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND pay_date = #{paydate} AND bud_cate = '음식점'
GROUP BY bud_cate
</select>

<select id="getExpenseByActivityWDate" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND pay_date = #{paydate} AND bud_cate = '활동'
GROUP BY bud_cate
</select>

<select id="getExpenseByLodgingWDate" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND pay_date = #{paydate} AND bud_cate = '숙박'
GROUP BY bud_cate
</select>

<select id="getExpenseByTransWDate" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND pay_date = #{paydate} AND bud_cate = '교통'
GROUP BY bud_cate
</select>

<select id="getExpenseByShoppingWDate" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND pay_date = #{paydate} AND bud_cate = '쇼핑'
GROUP BY bud_cate
</select>

<select id="getExpenseByEntertainmentWDate" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND pay_date = #{paydate} AND bud_cate = '주점'
GROUP BY bud_cate
</select>

<select id="getExpenseByEtcWDate" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND pay_date = #{paydate} AND bud_cate = '기타'
GROUP BY bud_cate
</select>

<!-- listAll 카테고리 -->
<select id="getExpenseByCafe" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND bud_cate = '카페'
GROUP BY bud_cate
</select>

<select id="getExpenseByRestaurant" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND bud_cate = '음식점'
GROUP BY bud_cate
</select>

<select id="getExpenseByActivity" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND bud_cate = '활동'
GROUP BY bud_cate
</select>

<select id="getExpenseByLodging" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND bud_cate = '숙박'
GROUP BY bud_cate
</select>

<select id="getExpenseByTrans" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND bud_cate = '교통'
GROUP BY bud_cate
</select>

<select id="getExpenseByShopping" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND bud_cate = '쇼핑'
GROUP BY bud_cate
</select>

<select id="getExpenseByEntertainment" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND bud_cate = '주점'
GROUP BY bud_cate
</select>

<select id="getExpenseByEtc" resultType="int">
SELECT sum(expense)
FROM bud_dt 
where sch_no = #{schno} AND bud_cate = '기타'
GROUP BY bud_cate
</select>

<select id ="getChartTextByListAll" resultMap="UserResult">
SELECT trim(TO_CHAR(sum(expense), '999,999,999')) as day_pay , count(rownum) as day_cnt 
FROM bud_dt 
WHERE sch_no = #{schno}
GROUP BY sch_no
</select>

<select id="getBudgetBySch" resultMap="UserResult">
SELECT pay_date, sch_no, trim(TO_CHAR(sum(expense), '999,999,999')) as day_pay , count(rownum) as day_cnt 
FROM bud_dt 
WHERE sch_no = #{schno} 
GROUP BY pay_date, sch_no 
ORDER BY pay_date ASC
</select>

<select id="getDateBySchedule" resultType="hashMap">
	select sch_date , sch_no from sch_dt
	where sch_no = #{schno}
	group by sch_date, sch_no
	order by sch_date asc
</select>

</mapper>