<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.travelmaker.mapper.BudgetMapper">

<resultMap type="org.travelmaker.domain.BudgetVO" id="UserResult">
	<result property="schno" column="sch_no"/>
	<result property="totalpay" column="total_pay"/>
	<result property="totalcnt" column="total_cnt"/>
	<result property="schno" column="b.sch_no"/>
	<result property="schtitle" column="sch_title"/>
	<result property="fromdate" column="from_date"/>
	<result property="todate" column="to_date"/>
</resultMap>

<!-- list.jsp - DB의 모든 일정과 지출 내역 출력 -->
<select id="getBudgetByUser" resultMap="UserResult">
<![CDATA[
SELECT sch_title, b.sch_no, from_date, to_date, trim(TO_CHAR(total_pay, '999,999,999')) as total_pay, total_cnt
FROM budget b, schedule s
where s.sch_no= b.sch_no
ORDER BY b.sch_no asc
]]>
</select>

</mapper>