<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
 PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
 "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.travelmaker.mapper.DaybudMapper">

<resultMap type="org.travelmaker.domain.DaybudVO" id="UserResult">
	<result property="paydate" column="pay_date"/>
	<result property="schno" column="sch_no"/>
	<result property="daypay" column="day_pay"/>
	<result property="daycnt" column="day_cnt"/>
</resultMap>

<!-- get.jsp - 셀렉트 박스 : 날짜 -->
<select id="box" resultMap="UserResult">
select distinct sch_no from day_bud
</select>

<!-- get.jsp - 날짜별 지출 내역 카운트 -> 그래프 -->
<select id="read" resultMap="UserResult">
select pay_date, sch_no, trim(TO_CHAR(sum(expense), '999,999,999')) as day_pay , count(rownum) as day_cnt 
from bud_dt where sch_no = #{schno} group by pay_date, sch_no ORDER BY pay_date ASC
</select>

<!-- Test -->
<!-- <select id="getList" resultMap="UserResult">
<![CDATA[
select * from day_bud where sch_no > 0 ORDER BY pay_date ASC
]]>
</select>  -->

</mapper>
