<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">


<mapper namespace="org.travelmaker.mapper.MemberMapper">

    <resultMap type="org.travelmaker.domain.MemberVO" id="UserResult">
      <result property="memNo" column="MEM_NO" />
      <result property="email" column="EMAIL" />
      <result property="nickname" column="NICKNAME" />
      <result property="pwd" column="PWD" />
      <result property="birth" column="BIRTH" />
      <result property="gender" column="GENDER" />
      <result property="regDate" column="REG_DATE" />
      <result property="lastDate" column="LAST_DATE" />
      <result property="status" column="STATUS" />
      <result property="memGrade" column="MEM_GRADE" />
      <result property="travelType" column="TRAVEL_TYPE" />
      <result property="point" column="point" />
   </resultMap>

   <!-- 현 유저 확인 -->
   <select id="cnt" resultType="int">
      select count(*) from member
   </select>
   
   <!-- 회원가입 -->
   <insert id="join">
      insert into member (mem_no, email, nickname, pwd, birth, gender, status, mem_grade, point)
      values(
      seq_memNo.nextval,
      #{email},
      #{nickname},
      #{pwd},
      #{birth},
      #{gender},
      #{status},
      #{memGrade},
      0
      )
   </insert>   
   
   <!-- 로그인 -->
   <select id="login" resultMap="UserResult">
      select email, pwd from member
      where email = #{email}
      and pwd = #{pwd}
   </select>
   
   <!-- 회원번호 가져오기 -->
   <select id="getMemNo" resultMap="UserResult">
      select mem_no from member
      where email = #{email}
   </select>
   
   <!-- 계정조회 -->
   <select id="getMember" resultMap="UserResult">
   select 
      *
      from member
      where email = #{email}
   </select>
   
   <!-- 비밀번호 수정 -->
   <update id="modifyPwd" parameterType="String">
      update member set
      pwd = #{pwd}
      where email = #{email}      
   </update>
   
   
   <!-- email 중복체크 -->
   <select id="hasEmail" parameterType="String" resultType="Integer">
      SELECT COUNT(*) FROM member
      WHERE
          email = #{email}
   </select>
   
   <!-- 닉네임 수정 -->
   <update id="modifyNickname" parameterType="String">
      update member set
      nickname = #{nickname}
      where email = #{email}      
   </update>
   
   <!-- 닉네임 중복체크 -->
   <select id="hasNickname" parameterType="String" resultType="Integer">
      SELECT COUNT(*) FROM member
      WHERE
          nickname = #{nickname}
   </select>
   
   <!-- Q&A게시글의 닉네임을 변경한다.(닉변시 적용) -->
	<update id="modifyBoardNickname">
		update qna_board
		set
		nickname = #{nickname}
		where mem_no = #{memNo}		
	</update> 

	<!-- Q&A게시글의 댓글의 작성자를 변경한다.(닉변시 적용) -->
	<update id="modifyBoardReplyer">
		update qna_reply
		set 
		replyer = #{nickname}
		where replyer = #{replyer}
	</update>
   
   <!-- 회원탈퇴 -->
   <update id="deleteMember">
      update member set 
   	  status = 'MS002'
      where email = #{email} 
   </update>
   
   <!--최종 로그인 업데이트 -->
   <update id="lastLoginSetToday" parameterType="String">
      update member 
      set last_date = sysdate
      where email = #{email}
   </update>
   
   <update id="updateTTT">
      update member set 
      TRAVEL_TYPE = #{yourType}
      where MEM_NO = #{memNo} 
   </update>
   
   <!-- 포인트 충전 -->
   <update id="pointCharging">
   		update member 
		set point = point + #{point}
		where email = #{email}
   </update>
   
   

</mapper>