<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.travelmaker.mapper.PickMapper">

<insert id="insert">
	insert into PICK_PL (mem_no,plc_no)
	values (#{memNo},#{plcNo})
</insert>

<insert id="insertSch">
	insert into PICK_SCH (mem_no,sch_no)
	values (#{memNo},#{schNo})
</insert>


<delete id="delete">
	delete from PICK_PL where plc_no = #{plcNo} and mem_no = #{memNo}
</delete>

<delete id="deleteSch">
	delete from PICK_SCH where sch_no = #{schNo} and mem_no = #{memNo}
</delete>
</mapper>