<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.oeg//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.travelmaker.mapper.RegionMapper">

<!-- board no로 하나만 읽어오는 기능 근데 실제론 안쓸거 같은데 -->
<select id="getList" resultType="org.travelmaker.domain.RegionVO">
	select region_no as regionNo, si from region
</select>
</mapper>