<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace ="org.travelmaker.mapper.SchdtMapper">

<resultMap type="org.travelmaker.domain.SchdtVO" id="schdtResult">
		<result property="schDate" column="sch_date"/>
		<result property="schNo" column="sch_no"/>
		<result property="fromPlc" column="from_plc"/>
		<result property="toPlc" column="to_plc"/>
		<result property="distance" column="distance"/>
		<result property="duration" column="duration"/>
		<result property="transit" column="transit"/>

</resultMap>


<select id="getSchdt" resultMap="schdtResult">
<![CDATA[
	select sch_date, sch_no, from_plc, to_plc, distance, duration, transit
	from sch_dt
	where sch_no=#{schNo}
]]>
</select>

<insert id="insert">
	insert into sch_dt(SCH_DATE, SCH_NO, NUM, FROM_PLC, ,TO_PLC, DISTANCE, DURATION,TRANSIT)
	values (#{schDate}, #{boarddtImg},#{boardCon}, sch_dt_seq.nextval)
</insert>

<!-- 순규 -->
<select id="getSchdtList" resultType="hashMap">
<![CDATA[
select s.sch_date, s.sch_no,s.from_plc, p.plc_img as fromImg, p.plc_title as fromTitle,p.p_cate as fromCate,p.address_dt as fromADt,p.lat as fromLat,p.lng as fromLng,s.to_plc, 
    (select plc_img from place p
      where s.sch_no= #{schNo}
      and p.plc_no= s.to_plc) as toImg,
      (select plc_title from place p
      where s.sch_no= #{schNo}
      and p.plc_no= s.to_plc) as toTitle,
      (select p_cate from place p
      where s.sch_no= #{schNo}
      and p.plc_no= s.to_plc) as toCate,
       (select lat from place p
      where s.sch_no= #{schNo}
      and p.plc_no= s.to_plc) as toLat,
       (select lng from place p
      where s.sch_no= #{schNo}
      and p.plc_no= s.to_plc) as toLng,
       (select address_dt from place p
      where s.sch_no= #{schNo}
      and p.plc_no= s.to_plc) as toADt,s.distance, s.duration, s.transit
      from sch_dt s, place p
      where s.sch_no= #{schNo}
      and p.plc_no= s.from_plc
      order by sch_date asc,s.no asc
      ]]>
</select>

<select id="getplacetitle" resultType="org.travelmaker.domain.Schdt_PlaceVO">
<![CDATA[
   
    select s.sch_date as schDate, s.sch_no as schNo, p.plc_title as plcTitle , 
    (select plc_title from place p
      where s.sch_no= #{schNo}
      and p.plc_no= s.to_plc) as plcTitle1, s.distance, s.duration, s.transit
      from sch_dt s, place p
      where sch_no= #{schNo}
      and p.plc_no= s.from_plc
      order by no asc
]]>
</select>

<delete id="deleteSchdt">
	delete from sch_dt where sch_no = #{schNo}
</delete>

</mapper>