<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
	PUBLIC "-//mybatis.rog//DTD Mapper 3.0//EN"
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.travelmaker.mapper.ThemeMapper">

	<resultMap type="org.travelmaker.domain.PlaceDTO"
		id="PlaceResult">
		<result property="themeNo" column="THEME_NO" />
		<result property="plcNo" column="PLC_NO" />
		<result property="plcTitle" column="PLC_TITLE" />
	</resultMap>

	<resultMap type="org.travelmaker.domain.PlaceVO"
		id="searchResult">
		<result property="plcNo" column="PLC_NO" />
		<result property="regionNo" column="REGION_NO" />
		<result property="plcTitle" column="PLC_TITLE" />
		<result property="lat" column="LAT" />
		<result property="lng" column="LNG" />
		<result property="addressDt" column="ADDRESS_DT" />
		<result property="pCate" column="P_CATE" />
		<result property="holiday" column="HOLIDAY" />
		<result property="openingH" column="OPENING_H" />
		<result property="likeCnt" column="LIKECNT" />
	</resultMap>
	
	<select id="getThemeList" resultType="map">
 		SELECT T.THEME_NO, T.REGION_NO, C.CODE_NAME AS THEME_CODE, T.REG_DATE, T.MOD_DATE
		FROM THEME T, CODE_TABLE C
		WHERE CONCAT(C.CODE_TYPE_ID,C.CODE) = t.theme_code
		ORDER BY THEME_NO 
	</select>

	<select id="getThemeInfo" resultMap = "searchResult">
		SELECT V.PLC_NO , V.PLC_TITLE, V.ADDRESS_DT, V.region_no, V.CODE_NAME AS P_CATE, V.LIKECNT , V.HOLIDAY, V.OPENING_H
		FROM THEME_PLC,
		(SELECT PLC_NO, PLC_TITLE, REGION_NO, ADDRESS_DT,C.CODE_NAME, LIKECNT, HOLIDAY, OPENING_H
		FROM CODE_TABLE C, PLACE P
		WHERE C.CODE = P.P_CATE) V
		WHERE THEME_PLC.PLC_NO = V.PLC_NO AND THEME_PLC.THEME_NO=#{themeNo}
	</select>

	<delete id="deleteTheme" parameterType="int[]">
		DELETE
		FROM THEME_PLC
		WHERE PLC_NO IN
		<foreach collection="list" item="place" open="(" close=")"
			separator=",">
			#{place}
		</foreach>
		AND THEME_NO = #{themeNo}
	</delete>
	
	<update id="updateTheme">
		UPDATE THEME SET mod_date=SYSDATE WHERE THEME_NO = #{themeNo}
	</update>

	<insert id="insertTheme">
		INSERT ALL
		<foreach collection="list" item="place">
			INTO THEME_PLC
			VALUES(#{themeNo},#{place})
		</foreach>
		SELECT * FROM DUAL
	</insert>
 
  	<select id="getPlaceList" resultMap="searchResult" parameterType="map">
 	<![CDATA[
 	SELECT PLC_NO, PLC_TITLE, P_CATE, REGION_NO, LAT,LNG, ADDRESS_DT,HOLIDAY, OPENING_H,LIKECNT
 	FROM (SELECT ROWNUM RN, PLC_NO, P_CATE, REGION_NO, PLC_TITLE, LAT,LNG, ADDRESS_DT,HOLIDAY, OPENING_H,LIKECNT
		FROM PLACE
		WHERE PLC_TITLE LIKE
		'%'||#{keyword}||'%'
		AND ROWNUM <= #{pageNum} * 10
		ORDER BY PLC_TITLE)
 	WHERE RN > (#{pageNum} -1) *10
	
		]]>
	</select>
	 
	
	<select id="getTotalCount" resultType="int">
	SELECT count(*)
		FROM PLACE
		WHERE PLC_TITLE LIKE
		'%'||#{keyword}||'%'
</select>

	

</mapper>