@charset "UTF-8";

.full-wrap{
	font-family: 'Bazzi';	
}

.comment{
	width : 960px;
	margin-top: 3%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom : 20px;
}

li {
   list-style:none;
}

.replyRegiBtn{ /*댓글 등록 버튼*/
	background-color : #ff8b3d;	
	color : white;
	height : 70px;
	width : 80px;
	margin-left : 3px;
	border: 1px solid #ff8b3d;
}

.replyRegi-wrap{ /*댓글 등록 텍스트*/
	 /* background-color: chartreuse; */
   width: 100%;
   height: 110px;
   display: flex;
   justify-content: center;
   align-items: center;
   margin-bottom: 10%;
}

.replyBtn_modify{ /* 댓글 수정 버튼 */
	height : 20px; 
	background-color : white;
	color : black;
	margin-left : 2px;
	font-size : 10px;
	outline:none;
	border : 0;
}

.replyBtn_delete{ /* 댓글 삭제 버튼 */
	height : 20px;
	background-color : white;
	color : black;
	margin-left : 2px;
	font-size : 10px;
	outline:none;
	border : 0;
}

.modiText{ /* 댓글 수정 textarea */
	margin-right: 2px;
    margin-left: -6%;
    margin-bottom: 1%;
}

.small{ /*small 태그*/
	float : right;
	margin-right : 13px;
	padding: 10px;
}

.replyModiBtn{ /*댓글 수정완료 버튼*/
  	width: 100px;
	height: 66px;
	text-align: center;
	background-color: orange;
	color: white;
	border: 1px solid #4e266d;
	border-radius: 8px;
	margin-bottom: 1%;
}

.textContent{ /* 댓글 수정 div */
   /* background-color: chartreuse; */
   width: 100%;
   height: 50px;
   display: flex;
   justify-content: center;
   align-items: center;
}

.paging-wrap{
	font-size: 12px;
	text-align: center;
}

.list-btn{ /* 목록 버튼 */
	color: black;
	background-color: white;
    width: 60px;
    height: 30px;
    font-size: 13px;
    border:1px solid gray;
}

.list-btn:hover{
	background-color: #ff8b3d;
	color: white;
	border: 1px solid #ff8b3d;
}

.replyArea{ /* 댓글 입력 폼 */
	width: 70%;
	resize: none;
}