@charset "UTF-8";

.full-wrap{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.container {
	margin-right: 350px;
}

.title-wrap { /* 메인 타이틀 div */
	font-size: 50px;
	margin-top: 8%;
    margin-bottom: 8%;
    text-align: center;
    color: black;
    font-size: 20px;
}

table.board-wrap {
	width: 1350px;
	border-collapse: collapse;
	text-align: center;
	line-height: 1.5;
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	margin: auto;
	margin-top: 5%;
}

table.board-wrap thead th { /* 게시판 제목 라인 */
	width: 150px;
	padding: 10px;
	font-weight: bold;
	vertical-align: top;
	color: black;
	background: white;
	margin: 20px 10px;
	text-align: center;
	border-bottom: 1px solid #ccc;
    border-top: 1px solid #ccc;
}

table.board-wrap tbody th {
	width: 150px;
	padding: 10px;
}

table.board-wrap td {
	width: 350px;
	padding: 10px;
	vertical-align: top;
	border-bottom: 1px solid #ccc;
}

.boardRegiBtn-wrap{ /* 글 쓰기 버튼 div */
	text-align: right;
	margin-top: 0.5%;
	width: 1350px;
	margin: auto;
}

.boardRegiBtn-wrap button{ /* 글 쓰기 버튼 div */
    background-color: #ff8b3d;
    color: white;
    border: 1px solid #ff8b3d;
    padding: 4px 13px 4px 13px;
    outline: 0;
    font-size: 15px;
    border-radius: 7px;
    cursor: pointer;
     margin-right: 4%;
    margin-top: 1%;
}

.w3-bar{ /* 페이징 버튼 */
	padding-right: 100px;
    font-size: 12px;
    text-align: center;
}

.w3-button{ /* 페이징 버튼 사이 간격 */
	padding: 10px;
}

.paging-wrap{ /* 페이징 버튼 div */
	padding-left: 30%;
	padding-top: 5%;
}

.search{ /* 검색 기능 div */
	text-align: center;
	margin-bottom: 10%;
}

#searchForm{
	display: inline-flex;
}

#searchKeyword{
	height: 22px;
}

.searchBtn{ /* 검색 버튼 */
	background-color: white;
    color: black;
    font-size: 10px;
    border: 1px solid black;
}

.searchBtn:hover{
	background-color: #ff8b3d;
	color: white;
	border: 1px solid #ff8b3d;
}

button, input, select, textarea, optgroup {
    margin: 2px;
}

/*=== 페이징 === */
 .pagination_bar{
   font-size: 8pt;
  font-weight: 400;
  font-family: 'Open Sans', 'Source Sans Pro', Roboto, 'HelveticaNeue-Light', 'Helvetica Neue Light', 'Helvetica Neue', 'Myriad Pro', 'Segoe UI', Myriad, Helvetica, 'Lucida Grande', 'DejaVu Sans Condensed', 'Liberation Sans', 'Nimbus Sans L', Tahoma, Geneva, Arial, sans-serif;
  -webkit-text-size-adjust: 100%;
  margin: 1em auto;
  text-align: center;
  transition: font-size .2s ease-in-out;
} 

.pagination_bar{
 list-style-type: none;
  display: inline;
  font-size: 100%;
  margin: 0;
  padding: .5em;
  }
  
.pagination_btn{
   display: inline-block;
  font-size: 100%;
  width: auto;
  border-radius: 3px;
  cursor: pointer;
}

.pagination_btn a{
   color: #777;
    font-size: 140%;
    padding: .5em;
}

.pagination_btn a:hover{
   color: #f60;
}

.pagination_bar .active a{
   color: #f60;
}

.paging{
	margin: 20px;
	text-align: center;
 	display: flex; 
 	justify-content: center;
}

