@charset "UTF-8";

.mod-btn{
	background-color: #ff8b3d;
	color: white;
	width: 60px;
    height: 30px;
    font-size: 13px;
    border: 1px solid #ff8b3d;
}

.del-btn{
	background-color: white;
	color:black;
	width: 73px;
    height: 30px;
    font-size: 13px;
    float: left;
    border: 1px solid black;
}

.del-btn:hover{
	background-color: #ff8b3d;
	color: white;
	border: 1px solid #ff8b3d;
}

.list-btn{
	background-color: white;
	width: 60px;
    height: 30px;
    font-size: 13px;
    border: 1px solid black;
}

.list-btn:hover{
	background-color: #ff8b3d;
	color: white;
	border: 1px solid #ff8b3d;
}