

.full-wrap{
	font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.title-head{ /* 타이틀 div */
    margin-top: 10%;
   	margin-bottom: 10%;
}


.ct_body { /* 글쓰기 박스 */
    width: 100%;
    /* border: 1px solid #000; */
    border-radius: 3px;
    padding: 30px 20px;
    margin-top: 70px;
    box-sizing: border-box;
}
.form-group input {
    width: 100%;
    margin: 10px 0;
    padding: 7px 10px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-group textarea {
    width: 100%;
    height: 500px;
    margin: 10px 0;
    padding: 5px 10px;
    font-size: 16px;
    box-sizing: border-box;
    border: 1px solid #ccc;
    border-radius: 3px;
    resize: none;
}

.reg-btn{ /* 등록 버튼 */
	background-color: #2196f3;
    color: white;
    border: 1px solid #2196f3;
    font-size: 15px;
    float: right;
    padding: 4px 13px 4px 13px;
    border-radius: 7px;
    outline: 0;
    cursor: pointer;
    	width: 60px;
    height: 30px;
}

.cancel-btn{ /* 취소 버튼 */
   background-color: white;
    font-size: 15px;
    background-color: #e9e9e9;
    border: 1px solid #e9e9e9;
    padding: 4px 13px 4px 13px;
    border-radius: 7px;
    outline: 0;
    cursor: pointer;
 width: 60px;
    height: 30px;
    margin-right: 0.5%;
}

.cancel-btn:hover{
	background-color: #2196f3;
    color: white;
    border: 1px solid #2196f3;
}

.btn-wrap{ /* 등록/ 삭제 버튼 div */
	text-align: right;	
    padding-bottom: 10%;
}

